/*#mazeWrapper {*/
    /*position: relative;*/
    /*width: 100%;*/
/*}*/

/*#maze {*/
    /*width: 720px;*/
    /*height: 720px;*/
    /*top: 0;*/
    /*left: 0;*/
    /*position: absolute;*/
/*}*/

.tile {
    /*border: solid 1px grey;*/
    position: relative;
    margin: 10px;
}

.tile-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tile-content div:first-child .tile-part {
    border-top-width: 2px;
}

.tile-content div:last-child .tile-part {
    border-bottom-width: 2px;
}

.tile-content .tile-part:first-child {
    border-left-width: 2px;
}

.tile-content .tile-part:last-child {
    border-right-width: 2px;
}

.tile-part {
    border: solid 1px grey;
}

.tile-part-wall {
    background-color: green;
}

.tile-part-path {
    background-color: white;
}

.edit-tile-wrapper .tile {
    margin-left: auto;
    margin-right: auto;
}